*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* Header and Header content*/
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    background-color: #1F2937;
    padding: 20px 15%;
    color: #f9faf8;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    font-size: 18px;
    color: #f9faf8; 
}
.header-logo{
    font-size: 24px;
    font-weight: bold;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
nav a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.header-content{
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 40px;
   
}

.header-content-left{
    flex: 1;
}
.header-content-left h1{
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 10px;
}

.header-content-left p{
    font-size:18px;
    color: #e5e7eb;
    margin-bottom:20px;
}
button{
    background-color: #3882F6;
    border-radius: 10px;
    color: #e5e7eb;
    padding : 8px 28px;
    border:none;
    cursor: pointer;
}
.header-content-right{
    flex:1;
    background-color: #6b7280;
    height: 250px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 250px;
    flex: 1;
}



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-right: 32px;
}








.random-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.info-title h2{
    font-size: 40px;
    font-weight: 900;
}

.containers{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
   
}
.card p{
    text-align: center;
    font-size: 15px;
}

.quote-info{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.quote-sentence{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 400px 0 400px;
    font-size: 36px;
    font-weight: 300;

    
}
.quote-author{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 450px 30px 0;
    font-size: 36px;
    font-weight: 900;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 500px;
    /* margin: 0 20px 0 500px; */
    text-align: center;

}
.cta-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color:#e5e7eb;
}