*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;

}
.upper-header{
    display:flex;
    justify-content: space-between;
}
.header-logo{
    margin-left: 32px;

}
ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-left: 32px;
}
img{
    width: 100%;
    max-width: 300px;
}
