*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header,footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
}
.upper-header{
    display:flex;
    justify-content: space-between;
}
.header-logo{
    margin-left: 32px;
    font-size: 18px;
    color: #f9faf8;

}
nav{
   font-size: 18px;
    color: #f9faf8; 
}
ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-right: 32px;
}
img{
    width: 100%;
    max-width: 200px;
}
.header-content{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.header-content-left{
    display: flex;
    flex-direction: column;
    max-width: 30%;
}
.header-content-left button{
    max-width: 100px;
    margin-top: 20px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #e5e7eb;
    padding : 10px;

    
}

.header-content-left p{
    font-size:18px;
    color: #e5e7eb;
    margin-top:20px;
}

.header-content h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
}

.random-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.info-title h2{
    font-size: 40px;
    font-weight: 900;
}

.containers{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
   
}
.card p{
    text-align: center;
    font-size: 15px;
}

.quote-info{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.quote-sentence{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 400px 0 400px;
    font-size: 36px;
    font-weight: 300;

    
}
.quote-author{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 450px 30px 0;
    font-size: 36px;
    font-weight: 900;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
}